body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-color: rgb(230, 235, 240);
  padding-bottom: 40px;
}

/*hidden-element*/
.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

#root {
  color: rgb(82, 28, 82);
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

::selection {
  background: rgb(131, 61, 131);
  color: #fff;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(131, 61, 131);
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
  transition-property: opacity;
}
[data-tooltip]:hover::after {
  opacity: 1;
}
